/backend/.env
/backend/venv/
/backend/__pycache__/
/backend/*.pyc
/backend/*.pyo
/backend/*.pyd
/backend/*.pyw
/backend/*.pyz
/backend/*.pywz
/backend/*.pyzw
/backend/*.pyzwz
/backend/*.pyzwzw
/backend/*.pyzwzwz
.vscode/
.DS_Store
/backend/api/__pycache__/
/backend/api/*.pyc
/backend/api/*.pyo
/backend/api/*.pyd
/backend/api/*.pyw
/backend/api/*.pyz
/backend/api/*.pywz
/backend/api/*.pyzw
/backend/api/*.pyzwz
/backend/api/*.pyzwzw
/backend/api/*.pyzwzwz
/backend/services/__pycache__/
/backend/services/*.pyc
/backend/services/*.pyo
/services/*.pyd
/services/*.pyw
/services/*.pyz
/services/*.pywz
/services/*.pyzw
/services/*.pyzwz
/services/*.pyzwzw
/services/*.pyzwzwz
/services/.DS_Store