/backend/.env
/backend/venv/
/backend/__pycache__/
/backend/*.pyc
/backend/*.pyo
/backend/*.pyd
/backend/*.pyw
/backend/*.pyz
/backend/*.pywz
/backend/*.pyzw
/backend/*.pyzwz
/backend/*.pyzwzw
/backend/*.pyzwzwz
.vscode/